<div class="container" id="teeth">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>哪個比較白呢？</h1>
		</div>

		<div class="col-md-6 text-center">
			<%= form_for @pic_one, :url => update_times_tooth_path(@pic_one) do |f| %>
				<div class="col-md-12">
					<%= image_tag("teeth/"+@pic_one.pic_name+".jpg",:class => "agree-button") %>
				</div>

				<%= hidden_field_tag 'update_times',true %>

				<div class="col-md-12">
					<%= submit_tag "我較白",class:"btn btn-comp" %>
				</div>
				
			<% end %>
			
		</div>
		<div class="col-md-6 text-center">
			<%= form_for @pic_one, :url => update_times_tooth_path(@pic_two) do |f| %>
				<div class="col-md-12">
					<%= image_tag("teeth/"+@pic_two.pic_name+".jpg",:class => "agree-button") %>
				</div>

				<%= hidden_field_tag 'update_times',true %>

				<div class="col-md-12">
					<%= submit_tag "我較白",class:"btn btn-comp" %>
				</div>
				
			<% end %>
		</div>
	</div>
</div>